html,
body {
    height: 100%;
    margin: 0;
}

:root {
    --glow-norm: drop-shadow(0 0 5px rgba(255, 255, 200, 0.8));
    --glow-intense: drop-shadow(0 0 8px rgba(255, 255, 200, 0.8));
}

.perspective-box {
    height: 100%;
    background-color: #26457a;
    position: relative;
    perspective: 1000px;
    perspective-origin: center top;
    transform-style: preserve-3d;
    user-select: none;
}

.paimon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 397px;
    height: 465px;
    animation: 3s infinite linear paimon-glow;
}

@keyframes paimon-glow {
    0% {
        -webkit-filter: var(--glow-norm);
        filter: var(--glow-norm);
    }

    50% {
        -webkit-filter: var(--glow-intense);
        filter: var(--glow-intense);
    }

    100% {
        -webkit-filter: var(--glow-norm);
        filter: var(--glow-norm);
    }
}

.artifact {
    width: 80px;
    height: 80px;
    /* position: absolute;
    top: 50%;
    left: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 6px #ffffc888 inset, 0 0 6px #ffffc888;
}

.artifact > img {
    width: 50%;
    height: 50%;
    opacity: 0.3;
}
